<div id="container">
    <div id="form">
        <div id="logo">MicroBlog</div>
        <div class="input-field">
            <div class="span-input-holder">
                <span>Username: </span>
                <input type="text"/>
            </div>
        </div>
        <div class="input-field">
            <div class="span-input-holder">
                <span>Password</span>
                <input type="password"/>
            </div>
        </div>
        <button>Login</button>
        <a routerLink="/registration">Não tem uma conta? Registre-se...</a>

    </div>
</div>