<div *ngIf="currentError" class="error-animated" id="error-modal">
    {{currentError}}
</div>

<div id="container">
    <form [formGroup]="userLogin" id="form" (ngSubmit)="onSubmit()">
        <div id="logo">MicroBlog</div>
        <div class="input-field">
            <div class="span-input-holder">
                <span>Username: </span>
                <input formControlName="username" type="text"/>
            </div>
        </div>
        <div class="input-field">
            <div class="span-input-holder">
                <span>Password</span>
                <input formControlName="password" type="password"/>
            </div>
        </div>
        <button *ngIf="!loading">Login</button>
        <a routerLink="/registration">Não tem uma conta? Registre-se...</a>
    </form>
</div>