<div id="container">

    <form [formGroup]="searchParams" (ngSubmit)="search()">
        <input formControlName="search" type="text" name="" id="">
        <button>Search</button>
    </form>
    <div class="user-list">
        <div *ngFor="let profile of profiles" class="user-container" (click)="goToUser(profile.user.id)">
            <img [src]="profile.icon" id="icon">
            
            <div id="name">{{profile.user.username}}</div>
        </div>
    </div>
    <div id="empty-container" *ngIf="usersEmpty()">
        ...
    </div>

</div>
