<div id="container">

    <form [formGroup]="searchParams" (ngSubmit)="search()">
        <input formControlName="search" type="text" name="" id="">
        <button>Search</button>
    </form>
    <div class="user-list">
        <div *ngFor="let user of users" class="user-container" (click)="goToUser(user.id)">
            <div id="icon"></div>
            
            <div id="name">{{user.username}}</div>
        </div>
    </div>
    <div id="empty-container" *ngIf="usersEmpty()">
        ...
    </div>

</div>
