<div id="container">
    <div *ngIf="post" id="post-container">
        <div id="header">
            <img src="http://localhost:8000/media/8-iconfinder_211605_contact_icon_512px.png"id="user-icon">

            <div id="username-container">
                {{post.owner.username}}
            </div>
        </div>
        <div id="body">
            {{post.body}}
        </div>
        <div *ngIf="isMyPost" id="footer">
            <button (click)="deletePost()" id="button">Delete</button>
        </div>

    </div>
    
</div>