<div id="container" *ngIf="user">
    <main>
        <header>
            <div id="info">
                <div id="icon"></div>
                <div id="username">{{user.username}}</div>
            </div>
            <div id="follow-container">
              <button (click)="follow()">Follow</button>
            </div>
        </header>
        <div
    *ngFor="let post of posts"
    class="post-container"
    (click)="seeDetail(post.id)"
  >
    <div id="post-header">
      <div id="post-icon"></div>
      <div id="name">{{ post.owner.username }}</div>
    </div>
    <div id="post-body">
      {{ post.body }}
    </div>
  </div>
    
    </main>

</div>