<div id="container" *ngIf="user">
    <main>
        <header>
            <div id="info">
                <input id="input-file-hidden" type="file" hidden (change)="setCurrentFile($event)">
                <img [ngStyle]="{'cursor': isCurrentUser? 'pointer': 'unset'}" src="http://localhost:8000/media/8-iconfinder_211605_contact_icon_512px.png" id="icon-input" (click)="clickImageInput()">
                <div id="username">{{user.username}}</div>
            </div>
            <div *ngIf="!isCurrentUser" id="follow-container">
              <button *ngIf="!isFollowing" (click)="follow()">Follow</button>
              <button *ngIf="isFollowing" (click)="unfollow()">Unfollow</button>
            </div>
        </header>
        <div
    *ngFor="let post of posts"
    class="post-container"
    (click)="seeDetail(post.id)"
  >
    <div id="post-header">
      <img src="http://localhost:8000/media/8-iconfinder_211605_contact_icon_512px.png" id="post-icon">
      <div id="name">{{ post.owner.username }}</div>
    </div>
    <div id="post-body">
      {{ post.body }}
    </div>
  </div>
    
    </main>

</div>