<div id="container" *ngIf="user">
    <main>
        <header>
            <div id="info">
                <input id="input-file-hidden" type="file" hidden (change)="setCurrentFile($event)">
                <img [ngStyle]="{'cursor': isCurrentUser? 'pointer': 'unset'}" [src]="icon" id="icon-input" (click)="clickImageInput()">
                <div id="username">{{user.user.username}}</div>
            </div>
            <div *ngIf="!isCurrentUser" id="follow-container">
              <button *ngIf="!isFollowing" (click)="follow()">Follow</button>
              <button *ngIf="isFollowing" (click)="unfollow()">Unfollow</button>
            </div>
        </header>
        <div
    *ngFor="let post of posts"
    class="post-container"
    
  >
    <div id="post-header">
      <img [src]="icon" id="post-icon">
      <div id="name">{{ post.owner.user.username }}</div>
    </div>
    <div id="post-body"(click)="seeDetail(post.id)">
      {{ post.body }}
    </div>
    <div id="post-footer">
      
      Likes: {{ post.like_count }}
      <div class="like-button" *ngIf="!post.liked" (click)="like(post.id)">Like</div>
      <div class="like-button" *ngIf="post.liked" (click)="unLike(post.id)">Unlike</div>
    </div>
  </div>
    
    </main>

</div>