<div *ngIf="currentError" class="error-animated" id="error-modal">
    {{currentError}}
</div>

<div id="container">

    <form id="form" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div id="logo">MicroBlog</div>
        <div class="input-field">
            <div class="span-input-holder">
                <span>Nome: </span>
                <input formControlName="first_name" type="text"/>
            </div>
        </div>
        <div class="input-field">
            <div class="span-input-holder">
                <span>Sobrenome: </span>
                <input formControlName="last_name" type="text"/>
            </div>
        </div>
        <div class="input-field">
            <div class="span-input-holder">
                <span>Username: </span>
                <input formControlName="username" type="text"/>
            </div>
        </div>
        <div class="input-field">
            <div class="span-input-holder">
                <span>Email: </span>
                <input formControlName="email" type="text"/>
            </div>
        </div>
        <div class="input-field">
            <div class="span-input-holder">
                <span>Senha: </span>
                <input formControlName="password" type="password"/>
            </div>
        </div>
        <div class="input-field">
            <div class="span-input-holder">
                <span>Confirmar senha: </span>
                <input formControlName="confirm_password" type="password"/>
            </div>
        </div>
        
        <button>Registrar</button>
        <a routerLink="/login">ou faça Login...</a>
    </form>

</div>
