<div id="container">

    <div id="form">
        <div id="logo">MicroBlog</div>
        <div class="input-field">
            <div class="span-input-holder">
                <span>Nome: </span>
                <input type="text"/>
            </div>
        </div>
        <div class="input-field">
            <div class="span-input-holder">
                <span>Sobrenome: </span>
                <input type="text"/>
            </div>
        </div>
        <div class="input-field">
            <div class="span-input-holder">
                <span>Username: </span>
                <input type="text"/>
            </div>
        </div>
        <div class="input-field">
            <div class="span-input-holder">
                <span>Email: </span>
                <input type="text"/>
            </div>
        </div>
        <div class="input-field">
            <div class="span-input-holder">
                <span>Senha: </span>
                <input type="password"/>
            </div>
        </div>
        <div class="input-field">
            <div class="span-input-holder">
                <span>Confirmar senha: </span>
                <input type="password"/>
            </div>
        </div>
        
        <button>Registrar</button>
        <a routerLink="/login">ou faça Login...</a>
    </div>

</div>
