<form id="post-area" [formGroup]="postData" (ngSubmit)="postToServer()">
  <textarea formControlName="text" name="" id="" cols="30" rows="10"></textarea>
  <button>Microblogit</button>
</form>
<div id="posts">
  <div
    *ngFor="let post of posts"
    class="post-container"
  >
    <div id="post-header">
      <div id="post-icon"></div>
      <div id="name">
        <a routerLink="/user/{{post.owner.id}}">{{ post.owner.username }}</a>
      </div>
    </div>
    <div (click)="seeDetail(post.id)" id="post-body">
      {{ post.body }}
    </div>
  </div>
</div>
