#post-area {
  padding: 10px;
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#post-area button {
  color: white;
  font-weight: bolder;
  width: 100px;
  height: 25px;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 5px;
  transition: .3s;
  border: none;
}
#posts-container{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.posts{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

#post-area button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(1.1, 1.1);
}
#post-area textarea {
  width: 100%;
  resize: none;
  border-radius: 10px;
  transition: .3s;
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  font-weight: bolder;
  padding: 5px;
  border: none;
}
#post-area textarea:hover{
  transform: scale(1.01, 1.01);
}
